@model TheDarkTowerMVC.DTO.EmailDTO
@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #7c1019;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: red;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    #link {
        visibility: hidden;
    }

</style>
<body>

    @* <h3>Using CSS to style an HTML Form</h3>*@



    @*    @using (Html.BeginForm("CreateEmail", "GameMaster", FormMethod.Post))
        {
        <table cellpadding="0" cellspacing="0">
        <tr>
        <th colspan="2" align="center">Email Details</th>
        </tr>
        <tr>
        <td>Destination Email: </td>
        <td>
        @Html.TextBoxFor(m => m.Email)
        </td>
        </tr>
        <tr>
        <td>Email text: </td>
        <td>
        @Html.TextBoxFor(m => m.Text)
        </td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" value="Submit" /></td>
        </tr>
        </table>
        }
    *@


    <form asp-controller="GameMaster" asp-action="CreateEmail" method="post">
        <label type="text" asp-for="Email"></label>
        <input type="text" asp-for="Email" />
        <label type="text" asp-for="Text"></label>
        <input type="text" asp-for="Text" />
        <input type="submit" id="submit-btn">Submit</input>
    </form>

    <a id="link">Clicko miii!</a>


</body>

<script>
        var submit = document.getElementById("submit-btn");

        var link = document.getElementById("link");

        submit.addEventListener("click",async e =>{
            e.preventDefault()

        //     var toEmail = document.getElementById("to-email").innerHTML
        //     var text = document.getElementById("text-input").innerHTML
        //     console.log("toEmail: "+toEmail+" text: "+text);

            link.style.visibility="visible";


        //     try {
        //        var res = await fetch('https://localhost:7148/gm/createemail',{
        //            method: "POST",
        //            headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
        //            body: JSON.stringify({
        //                Text: text,
        //                Email: toEmail,
        //            })})


        //        console.log(res);

        //        if(res.redirected) window.location.href = res.url;

        //        var obj = await res.json();
        //        console.log(obj);

        //            } catch(e) {
        //             console.log(e);
        //         }


        });

    }
</script>
</html>


