@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TheDarkTowerMVC.Controllers
@using TheDarkTowerMVC.DTO
@{
    List<CardDeckDTO> cardDecks = (List<CardDeckDTO>)ViewData["CardDecks"];
}
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <h1>Personal Decks ╰(▔∀▔)╯</h1>
    <p></p>
    <br />
    @if (cardDecks == null)
    {
        <h2>You don't have any decks! :c </h2>
    }
    else
    {
        <table>
            @foreach (var deck in cardDecks)
            {
                @if (deck != null)
                {
                    <tr>
                        <!-- Table Row - 1 -->
            <td>@deck.Id</td>
                        <td>@deck.Name</td>
                        <td>@deck.byAdmin</td>
                        <td>@deck.CreatedDateTime</td>
                    </tr>
                    <br>
                }
                else
                {
                    //<h2>You don't have any friends! :c </h2>
                }
            }
        </table>
    }


    <button class="player-add-new-deck-btn" onclick="window.location.href='https://localhost:7148/player/adddeck'">Add a new deck</button>
</body>
</html>