@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Personal Decks ╰(▔∀▔)╯</h1>

<button class="player-add-new-deck-btn" onclick="window.location.href='https://localhost:7148/player/adddeck'">Add a new deck</button>