@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TheDarkTowerMVC.Controllers
@using TheDarkTowerMVC.DTO
@{
    List<CardDeckDTO> cardDecks = (List<CardDeckDTO>)ViewData["CardDecks"];
}
<html>
<head>
    @*    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }

        .deck-id-btn {
        }
        </style>*@
    <link rel="stylesheet" href="/css/decks.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <h1>Personal Decks ╰(▔∀▔)╯</h1>
    <p></p>
    <br />
    @if (cardDecks == null)
    {
        <h2>You don't have any decks! :c </h2>
    }
    else
    {
        <table>
            @foreach (var deck in cardDecks)
            {
                @if (deck != null)
                {
                    <tr>
                        <!-- Table Row - 1 -->
            <td><button class="deck-id-btn">@deck.Id</button></td>
                        @*HttpContext.Session.SetString("deckid",@deck.Id);*@
                        <td>@deck.Name</td>
                        <td>@deck.byAdmin</td>
                        <td>@deck.CreatedDateTime</td>
                    </tr>
                    <br>
                }
                else
                {
                    //<h2>You don't have any friends! :c </h2>
                }
            }
        </table>
    }


    <button class="player-add-new-deck-btn btn action-btn btn-primary btn-lg" onclick="window.location.href='https://localhost:7148/player/adddeck'">Add a new deck</button>
</body>

<script>
    console.log("am apelat funtia!");
    @*document.getElementById("deck-id-btn").addEventListener("click",function(){
        console.log("am apelat funtia!");

        console.log("Am cules deckId-ul: " + deckId);
        @*HttpContext.Session.SetString("deckid",deckId);*@
    @* window.location.href='https://localhost:7148/player/cards/';
        });*@
    document.querySelectorAll(".deck-id-btn").forEach(btn => {
        btn.addEventListener("click", async e => {
            e.preventDefault();
            var deckId =  btn.innerHTML;
            console.log("Am cules deckId-ul: " + deckId);

            try {
                window.location.href = `https://localhost:7148/player/cards/${deckId}`;
                var res = await fetch(`https://localhost:7148/player/cards/${deckId}`, {
                    method: "GET",
                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
                });

                console.log(res);

                if(res.redirected) window.location.href = res.url;
                var obj = res.json();
                console.log(obj);

                //window.location.href = `${obj}`;
            } catch(e) {
                console.log(e);
            }
        })
    })
</script>
</html>