<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>

    @* <div class="darktowergif"></div>*@

    <img src="/css/images/darktower.gif" />

</body>
</html>