@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Create an account </h1>

<form>
    <label for="username">Choose a username:</label>
    <input id="username" name="username" />
    <br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" />
    <br>
    <select name="file-types" id="file-types">
        <option value="txt">TXT</option>
        <option value="pdf">PDF</option>
    </select>
    <button id="register-btn">Register</button>
</form>

<script>
    var btn = document.querySelector("#register-btn");
    btn.addEventListener("click", async e => {
        e.preventDefault();
        var uname = document.querySelector("#username").value;
        var pass = document.querySelector("#password").value;
        var fileType = document.querySelector("#file-types");
        var selectedText = fileType.selectedOptions;

        var values = Array.from(selectedText).map(({ value }) => value);
            values.push(name.value);

        var singleValue = values[0];
        console.log(`${uname} cu parola ${pass} si tipul de fisier ${singleValue}`)

        try {
            var res = await fetch('https://localhost:7148/user/register', {
                method: "POST",
                headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    Username: uname,
                    Password: pass,
                    FileType: singleValue,
                })
            });

            console.log(res);

            if(res.redirected) window.location.href = res.url;
            var obj = await res.json();
            console.log(obj);

            //window.location.href = `${obj}`;
        } catch(e) {
            console.log(e);
        }

    })
</script>