@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using TheDarkTowerMVC.Controllers
@using TheDarkTowerMVC.DTO
@{
    // List<UserDTO> friendList = (List<UserDTO>)ViewData["FriendList"];
    List<UserDTO> friendList = ViewData["FriendList"] as List<UserDTO>;
}

<h1>Send a message to your friends!</h1>

<form>

    <select id="friends" name="friends">
        @*for each friend in friendlist*@
        if (friendList != null)
        @foreach (var friend in friendList)
        {
            @if (friend != null)
            {
                <option value=@friend.Username>@friend.Username</option>
            }
        }
    </select>

    @*<input id="username" name="username" />*@
    <br>
    <label for="message">Message:</label>
    <input id="message" name="message" />
    <br>
    <input id="send-btn" type="submit" value="Send">
</form>


<script>
    var btn = document.querySelector("#send-btn");
    btn.addEventListener("click", async e => {
        e.preventDefault();
        var fr = document.getElementById("friends");
        var uname = fr.options[fr.selectedIndex].value;
        var message = document.getElementById("message").value;
        console.log("uname selectat: "+uname);

        try {
            var res = fetch('https://localhost:7148/user/sendmessage', {
                method: "POST",
                headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    Recipient: uname,
                    Message: message
                })
            });

            console.log(res);

            if(res.redirected) window.location.href = res.url;
            var obj = res.json();
            console.log(obj);

            //window.location.href = `${obj}`;
        } catch(e) {
            console.log(e);
        }

    })
</script>