
body{
    background-color: #b06d74d7 !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #b06d74b2;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.player-add-new-deck-btn{
    font-family: monospace !important;
    font-style: normal;
    font-size: 20px;
    /* color:white; */
    background-color: #7c1019 !important;
}


.player-add-new-deck-btn:hover{
    background-color: red !important;
}
