.logout-btn {
    height: 100%;
    width: 20%;
    /* background-color: azure;
    font-palette: dark;*/
}

.account-btn {
    height: 100%;
    width: 20%;
}

.inbox-btn {
    height: 100%;
    width: 20%;
}

.btn-div {
    height: 100%;
    width: 80%;
}

.friends-btn {
    height: 100%;
    width: 20%;
}

#add-friend-btn {
}

#friendUsername {
}
